.app_container {
  width: 100%;
  max-width: 480px;
  background-color: var(--unf-white);
  height: 100%;
  margin: 0 auto;
}

.purple {
  color: var(--unf-purple);
  font-size: inherit;
}

.primary {
  color: var(--unf-primary);
  font-size: inherit;
}

.app_container,
.app_hero__section,
.hero_section__image,
.hero_section__date,
.app_about__section,
.learn_from__section,
.info_group,
.industry_experts__section,
.skill_showcase__section,
.sponsors_section__wrapper,
.sponsors_section,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note_board header {
  display: flex;
  align-items: center;
}

/* Hero Section */
.app_hero__section {
  width: 100%;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3.25rem;
}

.hero_section__image {
  width: 100%;
  margin-top: 9.5rem;
  position: relative;
  min-height: 360px;
}

.hero_section__image h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--unf-black-v1);
}

.hero_section__image img {
  width: 100%;
  height: 100%;
  min-height: 403px;
  transform: translateY(-20px);
}

.hero_section__date {
  margin-top: 2.875rem;
  margin-bottom: 11rem;
}

.hero_section__date h1,
.hero_section__date h1 span {
  font-weight: 700;
  font-size: 94px;
  line-height: 96px;
  text-align: center;
}

.hero_section__date h1 {
  color: var(--unf-black);
}

.hero_section__date p,
.hero_section__date p span {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
}

/* About event */
.app_about__section {
  padding-top: 4.375rem;
  padding-bottom: 6.375rem;
  width: 100%;
  background-color: var(--unf-black);
}

.app_about__section h1,
.learn_from__section h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--unf-white);
  margin-bottom: 4.5rem;
}

.app_about__section > p,
.learn_from__section > p,
.learning_list li {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--unf-white);
  padding-left: 1.25rem;
  padding-right: 1.75rem;
  margin-bottom: 0.5625rem;
}

.learn_from__section > p,
.learning_list li {
  color: var(--unf-black);
  width: 100%;
}

.app_about__section > p:last-of-type {
  margin-bottom: 4.5rem;
}

.app_about__section > img {
  width: 100%;
  height: 100%;
  margin-top: 1.6875rem;
  margin-bottom: 4.5rem;
}

/* Learn from section */
.learn_from__section {
  width: 100%;
  padding-top: 13.3125rem;
}

.learn_from__section img {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.learn_from__section > h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 1.125rem;
}

.learn_from__section > h1 {
  line-height: 120%;
  color: var(--unf-black);
  max-width: 335px;
  margin-bottom: 2rem;
}

.learning_list {
  align-self: flex-start;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 2rem;
}

.learning_list li,
.note_board__instructions li {
  margin: 0px;
  padding-left: 22px;
  list-style-type: none;
  position: relative;
}

.note_board__instructions li,
.note_board__section > span {
  width: 95%;
  padding-left: 10px;
  margin-bottom: 0.625rem;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--unf-black-v1);
}

.note_board__section > span {
  padding-left: 0px;
}

.learning_list li::before,
.note_board__instructions li::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: var(--unf-black);
}

.note_board__instructions li::before {
  left: 0;
  top: 11px;
  transform: translateY(0%);
}

.info_group {
  width: 100%;
  align-items: flex-start;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 22px;
}

.info_group * {
  font-style: normal;
  font-weight: 400;
}

.info_group h4 {
  color: var(--unf-primary);
  margin-bottom: 7px;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 16px;
}

.info_group p {
  font-family: 'Helvetica Neue';
  font-size: 14px;
  line-height: 19px;
}

/* Industry Expert */
.industry_experts__section {
  margin-top: 0.625rem;
  margin-bottom: 10.375rem;
  width: 100%;
}

/* Skill showcase section */
.skill_showcase__section {
  width: 100%;
  padding-top: 7.625rem;
  padding-bottom: 6.5625rem;
  background-color: var(--unf-light-grey);
}

.skill_showcase__section img {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  object-fit: cover;
}

.skill_showcase__section > h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.skill_showcase__section > p {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
}

.note_board {
  width: 100%;
  padding: 0rem 1.25rem;
  margin-bottom: 2rem;
}

.note_board header {
  height: 57px;
  width: 100%;
  background-color: var(--unf-purple);
  border: 1px solid var(--unf-black);
  border-bottom: none;
  border-radius: 0px 16px 0px 0px;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: var(--unf-white);
  text-transform: uppercase;
}

.note_board .note_board__section {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: var(--unf-black);
  padding: 1.5rem 1rem;
}

.note_board .note_board__section:last-of-type {
  border-bottom-width: 1px;
}

.note_board__section h2,
.note_board__section p {
  font-style: normal;
  font-size: 21px;
  line-height: 120%;
  font-weight: 400;
  color: var(--unf-purple);
  text-transform: uppercase;
}

.note_board__section p {
  max-width: 303px;
  font-weight: 300;
  margin-bottom: 1.4375rem;
  color: var(--unf-black-v1);
}

/* Sponsors section */
.sponsors_section__wrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 500px;
  overflow: hidden;
}

.sponsors_section {
  padding-top: 1.875rem;
  padding-bottom: 0.5rem;
  width: 150%;
  background-color: var(--unf-newon-green);
  transform: rotate(20deg);
}

.sponsors_section h1 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 2.5rem;
}

.brand {
  margin-right: 20px;
}

/* Footer */

.footer * {
  color: var(--unf-white);
}

.logo {
  width: 118px;
  height: 42px;
  margin-bottom: 2rem;
}

.footer p {
  margin-bottom: 0.8125rem;
}

.footer .copy {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.footer img {
  width: 82px;
  height: 127px;
  margin-bottom: 2rem;
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 100px;
  width: 100%;
  background-color: var(--unf-black);
}
