.app_container {
  width: 100%;
  max-width: 480px;
  background-color: var(--unf-white);
  height: 100%;
  margin: 0 auto;
}

.purple {
  color: var(--unf-purple);
  font-size: inherit;
}

.primary {
  color: var(--unf-primary);
  font-size: inherit;
}

.app_container,
.app_hero__section,
.hero_section__image,
.hero_section__date,
.app_about__section,
.learn_from__section,
.info_group,
.industry_experts__section,
.skill_showcase__section,
.sponsors_section__wrapper,
.sponsors_section,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note_board header {
  display: flex;
  align-items: center;
}

/* Hero Section */
.app_hero__section {
  width: 100%;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3.25rem;
}

.hero_section__image {
  width: 100%;
  margin-top: 9.5rem;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='336' height='162' viewBox='0 0 336 162' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M65.7112 161.436C53.8458 160.727 61.3568 140.081 55.9821 140.942C50.7318 145.3 42.1234 146.129 40.9187 138.085C40.4643 129.366 63.6648 121.696 50.5986 115.525C44.5733 116.642 37.6786 116.875 33.6514 122.18C26.6489 131.183 8.37094 139.497 2.23243 125.564C-1.18866 121.439 2.67913 117.609 4.37293 113.692C5.96039 109.335 8.46087 105.844 12.951 104.242C19.6952 95.0996 36.6355 106.82 39.4955 100.642C30.7676 76.5074 54.5241 69.406 75.634 70.2406C80.8307 64.5864 77.55 58.2799 71.8962 55.173C66.8197 51.5425 62.9654 41.0813 70.43 38.187C82.0623 26.579 85.6968 54.1931 96.2872 43.092C109.83 63.2397 117.991 32.0445 133.27 39.947C139.59 42.9018 147.53 43.4394 151.599 49.7497C155.449 56.815 165.897 50.0789 168.711 45.1868C173.519 29.8586 191.446 38.8186 200.435 29.7025C209.286 20.2956 214.683 7.35615 227.33 1.83261C241.762 -5.4986 235.985 21.7883 241.3 20.9194C247.706 15.2339 255.423 18.9045 253.019 26.9598C252.071 35.0972 253.562 41.2137 261.374 35.9041C265.388 33.8374 265.936 27.8663 268.553 24.2233C274.345 14.4648 281.945 0.550804 294.5 0.058466C302.031 -0.908016 306.676 10.3488 304.708 16.0003C299.128 23.096 289.301 17.9059 282.38 22.5046C277.38 23.2668 276.933 28.2104 275.366 32.1242C277.345 35.7676 279.548 44.5734 284.16 38.0474C285.951 28.0479 294.922 27.2175 303.621 26.614C311.31 22.9331 319.417 27.3004 319.117 36.2374C320.171 51.6838 303.972 49.6781 296.099 41.2736C287.625 39.7274 297.718 46.6926 298.759 50.8591C300.324 57.1237 285.644 64.0342 289.964 68.5324C308 73.0299 278.567 82.8519 283.584 93.6197C289.892 101.607 304.932 97.8083 304.392 111.694C301.513 115.743 300.829 122.464 295.139 123.36C289.003 124.83 280.939 125.332 275.335 121.929C267.969 117.315 261.289 111.357 253.45 107.719C249.59 113.728 243.445 121.493 234.266 115.885C227.414 112.606 213.819 112.095 214.372 122.035C218.256 132.379 224.695 142.147 225.819 153.226C223.873 161.095 213.934 164.592 207.654 159.352C203.786 154.5 197.615 149.966 199.613 143.06C199.781 135.176 203.114 114.747 190.729 127.156C183.526 132.3 175.43 121.961 171.904 133.483C168.039 142.833 158.104 139.214 151.821 134.588C140.062 124.643 129.257 146.339 117.424 148.783C109.95 152.373 102.218 146.672 106.112 138.477C109.842 126.04 98.0015 122.823 90.3755 131.218C83.6567 134.545 82.0544 143.063 77.663 148.65C74.8335 153.457 74.0958 164.627 65.7112 161.436ZM323.59 102.514C319.518 92.7491 308.393 86.1581 308.31 75.9027C315 67.8856 328.338 72.9009 333.016 81.0519C337.797 86.1583 335.777 95.778 332.656 101.046C330.87 104.06 326.226 107.013 323.59 102.514ZM34.2885 50.7403C22.9465 49.641 6.30711 40.5398 10.8409 28.3385C12.302 24.4063 16.4447 18.9644 21.2338 21.0914C33.7582 22.7005 42.6595 32.4048 52.0723 39.9367C59.8952 49.3305 40.0982 52.6634 34.2885 50.7403ZM147.75 19.6588C137.988 16.0047 138.543 5.7106 147.742 2.38284C159.403 0.833142 157.608 28.4085 147.75 19.6588Z' fill='%23D0F59E'/%3E%3C/svg%3E%0A"),
    url("data:image/svg+xml,%3Csvg width='375' height='162' viewBox='0 0 375 162' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M72.5898 161.436C59.3077 160.727 67.7155 140.081 61.699 140.942C55.8218 145.3 46.1856 146.129 44.837 138.085C44.3284 129.366 70.2991 121.696 55.6728 115.525C48.928 116.642 41.2101 116.875 36.7021 122.18C28.8634 131.183 8.40301 139.497 1.53153 125.564C-2.29804 121.439 2.03157 117.609 3.92762 113.692C5.70462 109.335 8.50367 105.844 13.5299 104.242C21.0795 95.0996 40.0424 106.82 43.2439 100.642C33.4739 76.5074 60.067 69.406 83.6975 70.2406C89.5147 64.5864 85.8422 58.2799 79.5134 55.173C73.8307 51.5425 69.5162 41.0813 77.8721 38.187C90.8934 26.579 94.9618 54.1931 106.817 43.092C121.977 63.2397 131.111 32.0445 148.215 39.947C155.29 42.9018 164.179 43.4394 168.733 49.7497C173.042 56.815 184.738 50.0789 187.888 45.1868C193.27 29.8586 213.338 38.8186 223.4 29.7025C233.308 20.2956 239.349 7.35615 253.507 1.83261C269.662 -5.4986 263.195 21.7883 269.144 20.9194C276.315 15.2339 284.954 18.9045 282.263 26.9598C281.202 35.0972 282.871 41.2137 291.615 35.9041C296.109 33.8374 296.722 27.8663 299.651 24.2233C306.135 14.4648 314.643 0.550804 328.697 0.058466C337.127 -0.908016 342.326 10.3488 340.124 16.0003C333.878 23.096 322.877 17.9059 315.129 22.5046C309.533 23.2668 309.033 28.2104 307.277 32.1242C309.493 35.7676 311.96 44.5734 317.122 38.0474C319.126 28.0479 329.17 27.2175 338.906 26.614C347.514 22.9331 356.589 27.3004 356.253 36.2374C357.433 51.6838 339.3 49.6781 330.487 41.2736C321.001 39.7274 332.298 46.6926 333.464 50.8591C335.216 57.1237 318.784 64.0342 323.619 68.5324C343.808 73.0299 310.861 82.8519 316.477 93.6197C323.539 101.607 340.374 97.8083 339.77 111.694C336.547 115.743 335.781 122.464 329.412 123.36C322.544 124.83 313.516 125.332 307.243 121.929C298.998 117.315 291.52 111.357 282.745 107.719C278.424 113.728 271.545 121.493 261.27 115.885C253.601 112.606 238.382 112.095 239.001 122.035C243.349 132.379 250.557 142.147 251.815 153.226C249.637 161.095 238.51 164.592 231.481 159.352C227.152 154.5 220.244 149.966 222.48 143.06C222.668 135.176 226.399 114.747 212.536 127.156C204.472 132.3 195.409 121.961 191.463 133.483C187.136 142.833 176.015 139.214 168.981 134.588C155.819 124.643 143.724 146.339 130.477 148.783C122.111 152.373 113.456 146.672 117.815 138.477C121.99 126.04 108.736 122.823 100.199 131.218C92.6781 134.545 90.8844 143.063 85.9688 148.65C82.8014 153.457 81.9756 164.627 72.5898 161.436ZM361.26 102.514C356.701 92.7491 344.248 86.1581 344.155 75.9027C351.644 67.8856 366.575 72.9009 371.812 81.0519C377.164 86.1583 374.903 95.778 371.409 101.046C369.409 104.06 364.211 107.013 361.26 102.514ZM37.4152 50.7403C24.719 49.641 6.09274 40.5398 11.1678 28.3385C12.8034 24.4063 17.4408 18.9644 22.8017 21.0914C36.8216 22.7005 46.7857 32.4048 57.3224 39.9367C66.0794 49.3305 43.9186 52.6634 37.4152 50.7403ZM164.424 19.6588C153.497 16.0047 154.118 5.7106 164.415 2.38284C177.468 0.833142 175.459 28.4085 164.424 19.6588Z' fill='%23D0F59E'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, no-repeat;
  background-position: top 33px left 0, bottom 15px left 0px;
  background-size: 480px, 480px;
}

.hero_section__image h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--unf-black-v1);
}

.hero_section__image img {
  width: 100%;
  height: 100%;
  transform: translateY(-20px);
}

.hero_section__date {
  margin-top: 2.875rem;
  margin-bottom: 11rem;
}

.hero_section__date h1,
.hero_section__date h1 span {
  font-weight: 700;
  font-size: 94px;
  line-height: 96px;
  text-align: center;
}

.hero_section__date h1 {
  color: var(--unf-black);
}

.hero_section__date p,
.hero_section__date p span {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
}

/* About event */
.app_about__section {
  padding-top: 4.375rem;
  padding-bottom: 6.375rem;
  width: 100%;
  background-color: var(--unf-black);
}

.app_about__section h1,
.learn_from__section h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--unf-white);
  margin-bottom: 4.5rem;
}

.app_about__section > p,
.learn_from__section > p,
.learning_list li {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--unf-white);
  padding-left: 1.25rem;
  padding-right: 1.75rem;
  margin-bottom: 0.5625rem;
}

.learn_from__section > p,
.learning_list li {
  color: var(--unf-black);
  width: 100%;
}

.app_about__section > p:last-of-type {
  margin-bottom: 4.5rem;
}

.app_about__section > img {
  width: 100%;
  margin-top: 1.6875rem;
  margin-bottom: 4.5rem;
}

/* Learn from section */
.learn_from__section {
  width: 100%;
  padding-top: 13.3125rem;
}

.learn_from__section img {
  width: 100%;
  margin-bottom: 2rem;
}

.learn_from__section > h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 1.125rem;
}

.learn_from__section > h1 {
  line-height: 120%;
  color: var(--unf-black);
  max-width: 335px;
  margin-bottom: 2rem;
}

.learning_list {
  align-self: flex-start;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 2rem;
}

.learning_list li,
.note_board__instructions li {
  margin: 0px;
  padding-left: 22px;
  list-style-type: none;
  position: relative;
}

.note_board__instructions li,
.note_board__section > span {
  width: 95%;
  padding-left: 10px;
  margin-bottom: 0.625rem;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--unf-black-v1);
}

.note_board__section > span {
  padding-left: 0px;
}

.learning_list li::before,
.note_board__instructions li::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: var(--unf-black);
}

.note_board__instructions li::before {
  left: 0;
  top: 11px;
  transform: translateY(0%);
}

.info_group {
  width: 100%;
  align-items: flex-start;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 22px;
}

.info_group * {
  font-style: normal;
  font-weight: 400;
}

.info_group h4 {
  color: var(--unf-primary);
  margin-bottom: 7px;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 16px;
}

.info_group p {
  font-family: 'Helvetica Neue';
  font-size: 14px;
  line-height: 19px;
}

/* Industry Expert */
.industry_experts__section {
  margin-top: 0.625rem;
  margin-bottom: 10.375rem;
  width: 100%;
}

/* Skill showcase section */
.skill_showcase__section {
  width: 100%;
  padding-top: 7.625rem;
  padding-bottom: 6.5625rem;
  background-color: var(--unf-light-grey);
}

.skill_showcase__section img {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  object-fit: cover;
}

.skill_showcase__section > h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.skill_showcase__section > p {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
}

.note_board {
  width: 100%;
  padding: 0rem 1.25rem;
  margin-bottom: 2rem;
}

.note_board header {
  height: 57px;
  width: 100%;
  background-color: var(--unf-purple);
  border: 1px solid var(--unf-black);
  border-bottom: none;
  border-radius: 0px 16px 0px 0px;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: var(--unf-white);
  text-transform: uppercase;
}

.note_board .note_board__section {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: var(--unf-black);
  padding: 1.5rem 1rem;
}

.note_board .note_board__section:last-of-type {
  border-bottom-width: 1px;
}

.note_board__section h2,
.note_board__section p {
  font-style: normal;
  font-size: 21px;
  line-height: 120%;
  font-weight: 400;
  color: var(--unf-purple);
  text-transform: uppercase;
}

.note_board__section p {
  max-width: 303px;
  font-weight: 300;
  margin-bottom: 1.4375rem;
  color: var(--unf-black-v1);
}

/* Sponsors section */
.sponsors_section__wrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 500px;
  overflow: hidden;
}

.sponsors_section {
  padding-top: 1.875rem;
  padding-bottom: 0.5rem;
  width: 150%;
  background-color: var(--unf-newon-green);
  transform: rotate(20deg);
}

.sponsors_section h1 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 2.5rem;
}

.brand {
  margin-right: 20px;
}

/* Footer */

.footer * {
  color: var(--unf-white);
}

.logo {
  width: 118px;
  height: 42px;
  margin-bottom: 2rem;
}

.footer p {
  margin-bottom: 0.8125rem;
}

.footer .copy {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.footer img {
  margin-bottom: 2rem;
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 100px;
  width: 100%;
  background-color: var(--unf-black);
}
