/* Helevetica Neue Font Imports */
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HeleveticaNeue/HelveticaNeue-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HeleveticaNeue/HelveticaNeue-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HeleveticaNeue/HelveticaNeue-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HeleveticaNeue/HelveticaNeue-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HeleveticaNeue/HelveticaNeue-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HeleveticaNeue/HelveticaNeue-Thin.otf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HeleveticaNeue/HelveticaNeue-Ultralight.otf');
  font-weight: 200;
  font-style: normal;
}

/* Bebas Neue Font Imports */
@font-face {
  font-display: swap;
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/Bebas Neue Pro/Regular/Bebas\ Neue\ Pro\ Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/Bebas Neue Pro/Regular/Bebas\ Neue\ Pro\ Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/Bebas Neue Pro/Regular/Bebas\ Neue\ Pro\ Middle.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/Bebas Neue Pro/Regular/Bebas\ Neue\ Pro\ Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/Bebas Neue Pro/Regular/Bebas Neue Pro Italic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-display: swap;
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/Bebas Neue Pro/Regular/Bebas\ Neue\ Pro\ Thin.otf');
  font-weight: 100;
  font-style: normal;
}

:root {
  --unf-primary: #ff4100;
  --unf-white: #ffffff;
  --unf-black: #000000;
  --unf-black-v1: #2b2b2b;
  --unf-yellow: #ffc600;
  --unf-pink: #ff00a2;
  --unf-newon-green: #afff00;
  --unf-purple: #8400f2;
  --unf-grey: #a0a0a0;
  --unf-light-grey: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: var(--unf-black);
}

.uppercase {
  text-transform: uppercase;
}
